/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
}

/* Shared Style */

:root {
  --primary_font_color: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

.universal_padding_margin {
  max-width: 90%;
  margin: 0 auto;
}

.nav {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav p {
  color: var(--primary_font_color);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav ul {
  display: flex;
  gap: 30px;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: var(--primary_font_color);
  font-weight: 600;
}
