/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
}

/* Shared Style */

:root {
  --primary_font_color: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

.universal_padding_margin {
  max-width: 70%;
  margin: 0 auto;
}

.nav {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.for_mobile {
  display: none;
}

.title_div {
  display: flex;
  align-items: start;
  text-align: left;
}

.nav p {
  color: var(--primary_font_color);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}

.nav ul {
  display: flex;
  gap: 30px;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: var(--primary_font_color);
  font-weight: 600;
}

/* nav bar responsive for mobile device */
@media screen and (max-width: 576px) {
  .universal_padding_margin {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
  .for_mobile {
    display: block;
  }
  .nav p {
    font-size: 16px;
  }
  .nav ul {
    display: none;
  }
}

/* Hero Section Style */
.hero {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_title_section {
  width: 582px;
  height: 270px;
}

.hero_title_section_title {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--primary_font_color);
}

.hero_title_sectioN_description {
  color: var(--primary_font_color);
  font-weight: 600;
}

.hero_title_sectioN_button {
  margin-top: 16px;
  padding: 10px 24px;
  border-radius: 41px;
  color: #fff;
  font-weight: 600;
  border: none;
  background-color: #e02c6d;
  cursor: pointer;
}

.hero_img_section {
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero_main_img {
  max-width: 440px;
  height: 414px;
}

/* hero section responsive design */
@media screen and (max-width: 576px) {
  .hero {
    max-width: 100%;
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }

  .hero_img_section {
    width: 90%;
  }

  .hero_title_section {
    width: 100%;
  }

  .hero_title_section_title {
    font-size: 2rem;
  }

  .hero_main_img {
    width: 100%;
  }
}
